@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Montserrat:ital,wght@1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Arimo';
    /* font-family: 'Montserrat', sans-serif; */
}

html{
    font-size: 63.5%;
    
}

.body{
    color: #ddd;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background: linear-gradient(to bottom, #202020, #111119);
}


/* ##########################      Team Memebers Image in background   ################## */
    
    .bg1 {background: url(../Image/team-member-img-1.jpg);}
    .bg2 {background: url(../Image/team-member-img-1.jpg);}
    .bg3 {background: url(../Image/team-member-img-1.jpg);}
    .bg4 {background: url(../Image/team-member-img-1.jpg);}
    .bg5 {background: url(../Image/team-member-img-1.jpg);}
    .bg6 {background: url(../Image/team-member-img-1.jpg);}
    
    .team-box  .bg{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
        background-position-x: center;
        background-position-y: top;

    }
/* ##########################      Team Memebers Image in background   ################## */
    
    .cbg1 {background: url(../Image/clube-img-1.png);}
    .cbg2 {background: url(../Image/clube-img-2.png);}
    .cbg3 {background: url(../Image/clube-img-3.png);}
    .cbg4 {background: url(../Image/clube-img-4.png);}
    .cbg5 {background: url(../Image/clube-img-5.png);}
    .cbg6 {background: url(../Image/clube-img-1.png);}
    
    .club-box  .bg{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
        background-position-x: center;
        background-position-y: top;

    }

/* ##########################      utility class Styling   ############################## */


.container{
    width: 100%;
    height: 100%;
    /* border: 1px solid green; */
}


.container-flex{
    display: flex;
    /* grid-template-columns: 133px 133px 133px;
    grid-template-rows: 133px 133px 133px; */
    width: 100%;
    height: 88%;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-content: center;
}

/* for Teams */
.container-grid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    /* grid-template-columns: repeat(auto-fill,minmax(auto)); */
    grid-template-rows: repeat(2,minmax(auto));
    width: 100%;
    height: 88%;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-content: center;

    /* -ms-grid-layer: inherit; */
}
/* for contact form */


.contact-form { grid-area: contact-form; }
.contact-form-details { grid-area: contact-form-details; }
.contact-map { grid-area: contact-map; }

.contact-form-grid{
    display: grid;

    grid-template-areas:
    'contact-form contact-form-details'
    'contact-form contact-map';
    /* grid-template-columns: repeat(2, auto); */
    /* grid-template-columns: repeat(auto-fill,minmax(auto)); */
    /* grid-template-rows: repeat(2,minmax(auto)); */
    width: 100%;
    height: 88%;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-content: center;

    /* -ms-grid-layer: inherit; */
}

.contact-form{
    /* width: 2; */
    /* height: 100%; */
    border: 1px solid red;
    /* grid-row: 2 / span 1; */

}



section{
    height: auto;
    margin-top: 3em;
    padding: 5em;
    text-align: center;
}

section::after{
    content: "";
    border-bottom: 0.1em solid rgba(221, 221, 221, 0.281) ;
    display: block;
    width: 90%;
    margin: 5rem auto;
    
    box-shadow: 1px 1px 1px #f4f4f449 ;
    /* height: auto;
    margin-top: 3em; */
}

.heading-lg{
    display: inline-block;
    text-transform: uppercase;
    font-size: 3.5rem;
    margin-bottom: 1.8rem;
    border-bottom: 0.2rem solid red;
    padding-bottom: 0.2em;
    
}

.para{
    font-size: 1.8rem;
}


.btn a{
    /* display: block; */
   text-decoration: none;
   padding: 0.5em;
   font-size:1.8rem;
   border: 0.1rem solid greenyellow;
   border-radius: 1em;
   color: #ddd;
}


/* ##########################      Slider Styling   ############################## */

.header {
    width: 100%;
    height: 95vh;
    margin-bottom: 1em;
}

header .header-text{
    position: absolute;
    top: 47%;
    left: 47%;
    transform: translate(-50%,-50%);
    /* width: 45em; */
    /* background: linear-gradient(rgba(0, 0,0, 0.8),rgba(0, 0, 0, 0.8)), url(../Image/image3.jpg); */
    text-align: center;
}

.header-text .heading-lg{
    letter-spacing: 0.05em;
    font-size: 6rem;
}

.header-text .heading-lg span h1{
    background: red;
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 5em;
    letter-spacing: 0.05em;
    font-size: 6rem;
    /* line-height: 4em; */
}
.header-text .heading-lg span h1{
    display: inline-block;
    
}

.header-text .heading-lg span h1::before{
    content: "*";
    display: block;
    position: absolute;
    top: 0.5em;
    right: 2.8em;
    /* left:0.8em; */
    line-height: 2px;
    font-size: 2.2rem;
    text-shadow: -4px -1px 1px #F4F4F4 ;
    
    
}


.header-text .para{
    letter-spacing: 0.05em;
    font-size: 2rem;
}

.header .slider {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(15, 15, 15, 0.493),rgba(8, 8, 8, 0.432)), url(../Image/image3.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: slider 30s infinite linear;

}

@keyframes slider{
    0%{
        background: linear-gradient(rgba(15, 15, 15, 0.493),rgba(8, 8, 8, 0.432)), url(../Image/image3.jpg);
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    50%{
        background: linear-gradient(rgba(15, 15, 15, 0.616),rgba(8, 8, 8, 0.568)), url(../Image/image2.jpg);
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
        
    }

    100%{
        
        background: linear-gradient(rgba(15, 15, 15, 0.493),rgba(8, 8, 8, 0.432)), url(../Image/image4.jpg);
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
    }
    
} 



/* ##########################      Navbar Stylling   ############################## */

/* html .body .nav{
    position: sticky;
    display: block;
    top: 0%;
    width: 100%;
    height: 5.5vw;
    text-transform: uppercase;
    overflow: hidden; */
    /* background-color: rgb(18, 195, 240); */
    /* line-height: 5.4vw; */
/* }  */

nav .default-logo-css img{
    margin-left: 7em;
    width: 7rem;
}

.navbar .navbar-nav{
    position: absolute;
    right: 6em;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    
}

.navbar .default-nav-link-css{
    margin-right: 1em;
}

/* ############################      About-Us Styling    ############################### */

.about-us{
    position: relative;
    /* border: 1px solid blue; */
    height: 75em;
    width:100%;
    /* padding: 2em; */
    /* background-image: url("../Image/image3.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.about-us .row{
    width: 60em;
    height: 100%;
    /* border: 1px red solid; */
    /* background: #f4f4f4; */
}

/* .about-us .intro-portfolio{ */
    /* border: 1px green solid; */
/* } */


.about-us .intro-portfolio{
    width: 20em;
    height: 10em;
    margin-right: 0.5em;
    margin-bottom: 1em;
}

.about-us .right-intro{
    align-content: flex-start;
    /* width: 25%;
    height: 10em; */
    padding-top: 2em;
}

.about-us #intro-main{
    box-shadow: rgb(126 122 122 / 41%) 8px 7px 4px;
    border: 1px solid white;
    width: 98%;
    height: 20em;
}

.about-us .intro-image-1{
    background: url(../Image/intro1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}
.about-us .intro-image-2{
    background: url(../Image/intro2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}
.about-us .intro-image-3{
    background: url(../Image/intro3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}
.about-us .intro-image-4{
    background: url(../Image/intro4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}
.about-us .intro-image-5{
    background: url(../Image/intro5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}
.about-us .intro-image-6{
    background: url(../Image/intro6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}


/* ############################      Events Styling    ############################### */

.events{
    position: relative;
    /* border: 1px solid blue; */
    height: auto;
    padding: 2em;
}

.events .container .events-gallery{
    /* border: 1px solid red; */
    /* height: 20em; */
}
.events .events-btns{
    width: 100%;
    height: 4rem;
    margin-bottom: 2em;
    text-align: left;

}

.events .per-event{
    border: 1px solid rgba(221, 221, 221, 0.253);
    box-shadow: 1px 1px 10px rgba(126, 122, 122, 0.411);
    width: 26rem;
    text-align: center;
}

.events .per-event .event-img img{
    /* display: inline-block; */
    width: 100%;
    text-align: center;
}

.events .per-event .event-intro{
    height: 15em;
    width: 100%;
    padding: 0.4em 0.5em 0em 0.5em;
    text-align: center;
}


/* ############################      Team Styling    ############################### */

.team{
    position: relative;
    /* border: 1px solid blue; */
    height: auto;
    padding: 2em;
}

.team .container{
    /* position: relative;
    border: 1px solid blue; */
    height: auto;
    padding: 3em;
}

.team .team-box{
    height: auto;
    width: 30em;
    border: 1px solid rgba(221, 221, 221, 0.075);
    box-shadow: 1px 1px 10px rgba(126, 122, 122, 0.411);
    padding: 2em;
    text-align: center;
    
}

.team .first-three{
    margin-bottom: 3em;
}

.team .team-box .team-member-img{
    display: inline-block;
    height: 12em;
    width: 12em;
    border-radius: 50%;
    margin-bottom: 1.5em;
}


.body .team .team-box  i{
    font-size: 2rem;
    margin-right: 0.5em;
    cursor: pointer;
    /* color: red; */

}

.team .team-box  i:hover{
    font-size: 2rem;
    color: red;
    margin-right: 0.5em;
}


/* ############################      Introduction Styling    ############################### */
/* 
.introduction{
    position: relative;
    border: 1px solid blue;
    height: 60em;
    padding: 2em;
} */

/* ############################      Clubs Styling    ############################### */

.clubs{
    position: relative;
    /* border: 1px solid blue; */
    /* height: 20em; */
    padding: 2em;
}

.clubs .container{
    /* position: relative;
    border: 1px solid blue; */
    height: auto;
    padding: 3em;
}

.clubs .club-box{
    height: auto;
    width: 30em;
    border: 1px solid rgba(221, 221, 221, 0.075);
    box-shadow: 1px 1px 10px rgba(126, 122, 122, 0.411);
    padding: 2em;
    text-align: center;
    
}

.clubs .first-three{
    margin-bottom: 3em;
}

.clubs .club-box .club-member-img{
    display: inline-block;
    height: 12em;
    width: 12em;
    border-radius: 50%;
    margin-bottom: 1.5em;
}


.body .clubs .club-box  i{
    font-size: 2rem;
    margin-right: 0.5em;
    cursor: pointer;
    /* color: red; */

}

.clubs .club-box  i:hover{
    font-size: 2rem;
    color: red;
    margin-right: 0.5em;
}

.clubs .club-box .read-more{
    text-decoration: none;
}


/* ############################      Achivements Styling    ############################### */

.achivements{
    position: relative;
    border: 1px solid blue;
    height: 20em;
    padding: 2em;
}


/* ############################      Contact-Us Styling    ############################### */

.contact-us{
    position: relative;
    border: 1px solid blue;
    height: 40em;
    padding: 2em;
}

@media (max-width:1200px){
    .about-us{
        position: relative;
        /* border: 1px solid blue; */
        height: auto;
        width:100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }  
}